{% extends "simpsonitos/base.html" %}

{% load static %}

{% block principal %}

<h1>
    <br>
<ul>
    <p>Gracias por llegar hasta aca.</p> 
    <p>Mi nombre es Ezequiel Letamendia, tengo 30 años, soltero y trabajando bajo relacion de dependencia para la empresa NEC, en el area tecnica del sistema de videovigilancia .</p>
    <p>Vivo acompañado por 3 perros(Rosa, Pucho y Felipe) y 1 gato(Zatuson)</p>
    <p>Me gusta mucho jugar videojuegos competitivos y mirar los Simpson, no me considero un fanatico pero me gusta relacionar escenas de la serie con momentos 
        de la vida cotidiana.
       Este año decidi conocer el ambito de la programacion incursionando en el curso de Python, la verdad que me gusto. 
       por eso es que decidi, junto a este fanatismo,crear esta pagina donde la persona puede publicar y comentar cual es su escena o frase de cualquier temporada o capitulo.</p>
       <p>
        Sin mas que decir, me despido. <img src="{% static 'simpsonitos/assets/jesus-dancing.gif' %}" height="100%" width="60px"</a></a>
       </p>
       
</ul> 
</h1>

{% endblock %}
